
<form action="<%= users_url %>" method="post">
    <label> Username
        <input name="user[username]" type="text">
    </label>
    <br>


    <label>Password:
        <input type="password" name="user[password]" value="">
    </label>
    <br>
    <input  type="submit" value="Create User">
</form>